        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Genero</th>
                </tr>
            </thead>
            <tbody>
                <%= render  @filmes %>
            </tbody>
        </table>